#include <windows.h>

// rc.exe otherwise interprets a BOM-less UTF-8 file through the active ANSI
// code page and permanently embeds mojibake in Task Manager version strings.
#pragma code_page(65001)

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "app.manifest"
101 ICON "../../src/ClipboardWheel/Resources/app.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 2,0,0,0
 PRODUCTVERSION 2,0,0,0
 FILEFLAGSMASK 0x3fL
 FILEOS 0x40004L
 FILETYPE 0x1L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "wet86y\0"
            VALUE "FileDescription", "超级中键\0"
            VALUE "FileVersion", "2.0.0\0"
            VALUE "InternalName", "SuperMiddleKeyNative\0"
            VALUE "OriginalFilename", "超级中键.exe\0"
            VALUE "ProductName", "超级中键\0"
            VALUE "ProductVersion", "2.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END
